body {
    background-color:  #cdbfb3;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.logo {
    width: 200px;
    height: 200px;
}

.external-logo {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: system-ui;
    font-size: 32px;
}

.main {
    display: flex;
    flex-direction: row;
}

.gif-wrapper {
    display: flex;
    align-items: center;
}

.name {
    font-family: system-ui;
    font-weight: 800;
    color: #665d5b ;
    font-size: 64px;
    margin: 0px;
}

.name code {
    font-family: monospace;
    color: #e45761;
    background:   #eae6da   ;
    font-weight: normal;
    border-radius: 20px;
    padding: 0 10px;
}

.swap {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: red;
    text-decoration: none;
    padding: 0px 10px;
    margin: 0px 20px;
    align-content: center;
    background-color: #eae6da;
    border-radius: 20px;
}

select {
    vertical-align: middle;
}