@font-face {
    font-family: 'asepritefontmedium';
    src: url('asepritefont-webfont.woff2') format('woff2'),
         url('asepritefont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: ebede9;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%
}

.swap-wrapper .swap:last-child {
    display: none;
}

.swap-wrapper:hover .swap:last-child {
    display: inline;  
}

.swap-wrapper:hover .swap:first-child {
    display: none
}

.logo {
    width: 200px;
    height: 200px;
}

.external-logo {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.main {
    display: flex;
    flex-direction: row;
}

.gif-wrapper {
    display: flex;
    align-items: center;
}

.name-column {
    padding-left: 20px;
    flex: 1
}

.name-container {
    display: flex;
    height: 100%
}

.name {
    flex: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    font-family: 'asepritefontmedium'; 
    color: #cf573c;
    font-size: 64px;
}